#include "Pyuron.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            ;
};

&gpio1 {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&cirque_pinnacle_i2c {
    status = "okay";

    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        status = "okay";
        reg = <0x2a>;
        dr-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;     // D1 pin (nice!view compatible)

        sleep;
    };
};

// Overrides for the input-split child node
&glidepoint_split {
    device = <&glidepoint>;
};