/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "pyuron.dtsi"

&default_transform {
    col-offset = <6>;
};

&glidepoint  {
    status = "okay";
};

&glidepoint_listener {// If you want the left side to be central, comment it out.
    status = "okay";
};

/* If you want the left side to be central, uncomment it.
&glidepoint_split {
    device = <&glidepoint>;
};
*/