/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "Pyuron.dtsi"

/* If you want the left side to be central, uncomment it.
&glidepoint_listener  {
    status = "okay";
    device = <&glidepoint_split>;
};*/